<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Queues Game</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <script>
    window.host = "{{host}}";
    window.port = {{ port }};
  </script>
  <body>
  <div class="current_team_header">Current team: <span id="team_name"></span></div>
  <div id="lobby" style="display: none">
    <div class='team_picker_container'>
      <div class='team_picker red'>RED</div>
      <div class='team_picker blue'>BLUE</div>
      <div class='team_picker observers'>OBSERVERS</div>
    </div>
    <div class="clear"></div>
    <div id='ready_button'>READY</div>
  </div>
  <div id="game" style="display: none">
    <div id='generate_task' style='display: none;'>GENERATE TASK</div>
    <div id='waiting_for_task' style='display: none;'>Waiting for task...</div>
    <div id='task_id' style='display: none;'></div>
    <div id='finish_task' style='display: none;'>FINISH TASK</div>
  </div>
  </body>
  <script src="app.js"></script>
</html>